* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Nunito';
  font-weight: bold;
  src: url('./assets/fonts/Nunito-Bold.ttf');
}
body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #212121;
}
a {
  color: #212121;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover {
  color: #fafafa;
  transition-duration: 0.375s;
}
input {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-align: center;
  color: #212121;
  caret-color: #fafafa;
  width: 100%;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: 0;
}
input::placeholder {
  color: #fafafa;
}
p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}
.block .frame {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border: 3px solid #212121;
  z-index: 1;
}
.block .content {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background: #ff7043;
  margin-left: -100%;
}
.block .content > a,
.block .content > input,
.block .content > p {
  margin: auto;
  z-index: 2;
}
.listview {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  overflow-y: scroll;
  padding-bottom: 5px;
  margin: 0 auto;
  z-index: 2;
}
.listview .row {
  display: grid;
  grid-template-columns: 45px 195px 45px;
  grid-template-rows: 30px;
  grid-template-areas: 'icon line none';
  padding-top: 5px;
  margin: 5px auto;
}
.listview .row > .icon {
  grid-area: icon;
}
.listview .row > .line {
  grid-area: line;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  grid-template-areas: 'left right';
  align-items: start;
  border-bottom: 3px solid #212121;
}
.listview .row > .line .left {
  grid-area: left;
  text-align: start;
}
.listview .row > .line .left input {
  text-align: start;
}
.listview .row > .line .right {
  grid-area: right;
  text-align: end;
}
.listview .row > .line .right input {
  text-align: end;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
#app > div {
  margin: 10px auto;
  width: 310px;
}
